@font-face {
	font-family: 'PixelDungeon';
	src: url('/font.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	background: black;
	overflow: hidden;
	/* Font! */
	font-family: PixelDungeon;
	color: white;
	text-shadow:
		/* Orthogonal */
		0em -0.05em black,
		0em 0.05em black,
		-0.05em 0em black,
		0.05em 0em black,
		/* Diagonal */
		-0.05em -0.05em black,
		-0.05em 0.05em black,
		0.05em -0.05em black,
		0.05em 0.05em black;
}
canvas, img {
	image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
	image-rendering: -moz-crisp-edges;          /* Firefox                        */
	image-rendering: -o-crisp-edges;            /* Opera                          */
	image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
	image-rendering: pixelated;                 /* Universal support since 2021   */
	image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
	-ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu > aside {
	border-style: solid;
	border-width: 1em;
	border-image: url(/ui_textures/menu.png) 33.33333%;
	padding: 0.3em;
	position: relative;
}
.menu > aside::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #3b3e36;
}
.menu > aside > * {
	position: relative;
}
.menu h3 {
	margin: 0;
	margin-bottom: 0.5em;
	text-align: center;
}

span:has( > button) {
	border-style: solid;
	border-width: 0.3em;
	border-image: url(/ui_textures/button.png) 33.33333%;
}
button {
	font-family: inherit;
	color: inherit;
	text-shadow: inherit;
	border: none;
	padding: 0;
	font-size: 1em;
}
.menu button {
	background: #b22a2a;
	padding: 0.1em;
}

#menu-bottom-right {
	position: absolute;
	bottom: 0;
	right: 0;
	line-height: 0;
}
button.inventory-button {
	background: url(/ui_textures/inventory.png);
	background-size: contain;
	aspect-ratio: 22/24;
	min-height: 3em;
}
